<div class="topbar">
    <h2 class="text">Welcome to Dashboard
    </h2>
    <!-- <img src="/assets/image/unlock.gif" alt="" class="ll">
    <img src="/assets/image/Google.gif" alt="" class="ll"> -->
    <img src="/assets/image/Conversable.gif" alt="" class="ll">
    <div class="tick">
        <button mat-stroked-button color="primary">Create New Product Key</button>
        <button mat-raised-button color="primary">Create New User</button>
    </div>
</div>
<div class="card">
    <mat-card>
        <mat-card-content>USERS
        <app-chart></app-chart>
      </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>LICENCES
          <img src="/assets/image/Isometric.gif" alt="" class="kk">
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>IN ACTIVE USERS
          <!-- <app-charttwo></app-charttwo> -->
          <img src="/assets/image/Animated.gif" alt="" class="mm">
        </mat-card-content>
      </mat-card>
</div>
<div class="card2">
    <mat-card>
        <mat-card-content>
          <app-posts></app-posts>
        </mat-card-content>
    </mat-card>
</div>